SQLALCHEMY_DATABASE_URI = mysql+pymysql://db_user:root@mysql_db:3306/db_valentino
JWT_SECRET_KEY = secretkey
MYSQL_PASSWORD = root
MYSQL_DATABASE = db_valentino
MYSQL_USER = db_user
MYSQL_PASSWORD = root